@import './fonts';

:root {
  font-family: Montserrat, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color: #213547;
  background-color: #fbfbfb;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0 auto;
  padding: 40px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;

  &:hover {
    color: #747bff;
  }

  &:focus,
  &:focus-visible {
    outline: 4px auto;
  }
}

h1 {
  font-size: 50px;
  line-height: 1.1;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

svg {
  min-width: 20px;
}
