<script setup lang="ts"></script>

<template>
  <footer class="footer">
    ✍️ Réalisé avec Vite, Vue.js et Typescript ·
    <a href="https://gitlab.com/valentindehouck/porfolio">Code source</a>
  </footer>
</template>

<style lang="scss" scoped>
.footer {
  text-align: center;
  margin-top: 50px;
}
</style>
