<script setup lang="ts">
import Information from "./Information.vue";
</script>

<template>
  <header class="header">
    <ul class="header__profile">
      <li>
        <a
          target="_blank"
          href="https://github.com/valentindeh"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path
              d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"
            ></path>
          </svg>
          Profil GitHub
        </a>
      </li>
      <li>
        <a
          target="_blank"
          href="https://gitlab.com/valentindehouck"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path
              d="M22.65 14.39L12 22.13 1.35 14.39a.84.84 0 0 1-.3-.94l1.22-3.78 2.44-7.51A.42.42 0 0 1 4.82 2a.43.43 0 0 1 .58 0 .42.42 0 0 1 .11.18l2.44 7.49h8.1l2.44-7.51A.42.42 0 0 1 18.6 2a.43.43 0 0 1 .58 0 .42.42 0 0 1 .11.18l2.44 7.51L23 13.45a.84.84 0 0 1-.35.94z"
            ></path>
          </svg>
          Profil GitLab
        </a>
      </li>
    </ul>
    <h1 class="header__title">Valentin Dehouck</h1>
    <h2 class="header__subtitle">
      Liste des projets professionnalisants réalisés dans le cadre de mes
      alternances
    </h2>
    <Information />
  </header>
</template>

<style lang="scss" scoped>
.header {
  margin-bottom: 50px;

  &__title {
    font-family: Pacifico, serif;
  }

  &__subtitle {
    font-weight: 400;
  }

  &__profile {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 24px;
    align-items: center;
    margin-bottom: 30px;
  }
}
</style>
