<script setup lang="ts"></script>

<template>
  <div class="banner banner--information">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="20"
      height="20"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <circle cx="12" cy="12" r="10" />
      <line x1="12" y1="16" x2="12" y2="12" />
      <line x1="12" y1="8" x2="12.01" y2="8" />
    </svg>
    <p>Tous les projets sont basés sur des scénarios fictifs</p>
  </div>
</template>

<style lang="scss" scoped>
.banner {
  padding: 5px 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 6px;

  &--information {
    background-color: #d6ecff;
    color: #09699e;
    stroke: #09699e;
  }
}
</style>
