<script setup lang="ts">
const { language } = defineProps<{ language: string }>()

let color: string
switch (language) {
  case 'javascript':
    color = '#f1e05a'
    break
  case 'typescript':
    color = '#3178c6'
    break
  case 'css':
    color = '#563d7c'
    break
  case 'scss':
    color = '#c6538c'
    break
  case 'tailwindcss':
    color = '#38bdf8'
    break
  case 'html':
    color = '#e34c26'
    break
  case 'vue':
    color = '#41b883'
    break
  case 'react':
    color = '#61dafb'
    break
  default:
    color = 'black'
}
</script>

<template>
  <li class="language">
    <div
      class="language__color"
      :style="{ backgroundColor: color }"
      aria-hidden="true"
    ></div>
    {{ language }}
  </li>
</template>

<style lang="scss" scoped>
.language {
  display: flex;
  align-items: center;
  gap: 4px;
  text-transform: uppercase;

  &__color {
    border-radius: 100%;
    height: 10px;
    width: 10px;
  }
}
</style>
