<script setup lang="ts">
import Language from './Language.vue'
import { ProjectType } from '../types'

defineProps<{ project: ProjectType }>()
</script>

<template>
  <a class="project" :href="project.url" target="_blank">
    <div class="project__header">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20px"
        height="20px"
        viewBox="0 0 20 20"
      >
        <path
          d="M 10.832031 17.5 L 10.832031 19.582031 L 8.332031 17.917969 L 5.832031 19.582031 L 5.832031 17.5 L 5.417969 17.5 C 3.804688 17.5 2.5 16.195312 2.5 14.582031 L 2.5 4.167969 C 2.5 2.785156 3.621094 1.667969 5 1.667969 L 16.667969 1.667969 C 17.125 1.667969 17.5 2.039062 17.5 2.5 L 17.5 16.667969 C 17.5 17.125 17.125 17.5 16.667969 17.5 Z M 10.832031 15.832031 L 15.832031 15.832031 L 15.832031 13.332031 L 5.417969 13.332031 C 4.726562 13.332031 4.167969 13.894531 4.167969 14.582031 C 4.167969 15.273438 4.726562 15.832031 5.417969 15.832031 L 5.832031 15.832031 L 5.832031 14.167969 L 10.832031 14.167969 Z M 15.832031 11.667969 L 15.832031 3.332031 L 5 3.332031 L 5 11.695312 C 5.136719 11.675781 5.277344 11.667969 5.417969 11.667969 Z M 5.832031 4.167969 L 7.5 4.167969 L 7.5 5.832031 L 5.832031 5.832031 Z M 5.832031 6.667969 L 7.5 6.667969 L 7.5 8.332031 L 5.832031 8.332031 Z M 5.832031 9.167969 L 7.5 9.167969 L 7.5 10.832031 L 5.832031 10.832031 Z M 5.832031 9.167969 "
        />
      </svg>
      <h3 class="project__header_name">{{ project.projectName }}</h3>
      <span class="project--complementary project__date">
        · {{ project.dateCompleted }}
      </span>
    </div>
    <p class="project_description">{{ project.description }}</p>
    <ul class="project__languages project--complementary">
      <Language v-for="language in project.techStack" :language="language" />
    </ul>
  </a>
</template>

<style lang="scss" scoped>
.project {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 20px;
  transition: border-color 0.25s;
  color: unset;
  box-shadow:
    rgba(9, 30, 66, 0.25) 0 1px 1px,
    rgba(9, 30, 66, 0.13) 0 0 1px 1px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  &:hover {
    border-color: #646cff;
    background-color: #f3f4f6ff;
  }

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  &[href='#'] {
    background-color: #f8f8f8;
    color: #6a737d;
    fill: #6a737d;
    pointer-events: none;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;

    &_name {
      margin: 0;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      display: -webkit-box;
      overflow: hidden;
    }
  }

  &__description {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-align: justify;
  }

  &--complementary {
    color: #6a737d;
    font-size: 13px;
  }

  &__languages {
    display: flex;
    gap: 8px;
  }

  &__date {
    white-space: nowrap;
  }
}
</style>
