<script setup lang="ts">
import Project from './Project.vue'
import projects from '../data/projects.json'
</script>

<template>
  <main class="projects">
    <Project v-for="project in projects" :project="project" />
  </main>
</template>

<style scoped>
.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
</style>
