<script setup lang="ts">
import Header from './components/Header.vue'
import Projects from './components/Projects.vue'
import Footer from './components/Footer.vue'
</script>

<template>
  <Header />
  <Projects />
  <Footer />
</template>

<style scoped></style>
